<div class="container text-center">
  <div class="content">
    <div class="d-flex justify-content-center">
      <h2><%= @article.title %></h2>
      <div>
        <%= link_to edit_article_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to article_path,
                        method: :delete,
                        data: { confirm: 'Are you sure?' } do%>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
    <p><%= @article.content %></p>
  </div>
</div>
